body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    /* The image used */
    /* background-image: url("wallpaperflare.com_wallpaper\ \(2\).jpg"); */
    background-image: linear-gradient(180deg, rgb(23, 215, 183),rgb(65, 11, 84));
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.glass-box {
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px;
    width: 350px;
    height: 380px;


}

.glass-box h2 {
    text-align: center;
    margin-bottom: 20px;

}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    margin-top: 20px;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-bottom:2px solid rgb(254, 253, 254);
    border-radius: 5px;
    background: transparent;
    position: relative;
}

.action-links {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.action-links a {
    color: #0dd6f5;
    text-decoration: none;
}

.action-links a:hover {
    text-decoration: underline;
}

button {
    background-color: #84cbe4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #3e7cbd;
}

::placeholder {
    color: rgb(33, 207, 201);
    opacity: 1;
}

